:root {
  /* color */
  --background--color: #9fa8da;
  --font--color: #29434e;
  --red--color: #d32f2f;
  --orange--color: #f57c00;
  --yellow--color: #ffeb3b;
  --green--color: #4caf50;
  --blue--color: #1976d2;
  --purple--color: #320b86;
  /* size */
  --padding: 12px;
  /* font size */
  --large: 26px;
  --medium: 18px;
  --small: 12px;
  --micro: 6px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background--color);
  color: var(--font--color);
  width: 100%;
  padding: 20px 70px;
}
/*header css*/
li {
  text-align: center;
  padding: var(--padding);
  font-size: var(--medium);
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}
.logo {
  font-size: 30px;
}
.logo i {
  font-size: 40px;
}
.icons {
  display: flex;
  align-items: center;
}
.icons label {
  font-size: 18px;
  padding-right: 10px;
}
.search {
  background-color: white;
  border: 2px solid var(--font--color);
}
.icons input {
  font-size: 16px;
  width: 250px;
  padding: 8px 0px;
  border: 0px;
  outline: none;
}
.icons button {
  background-color: var(--font--color);
  width: 50px;
  height: 40px;
  outline: none;
  border: 0px;
}
.icons button i {
  font-size: 20px;
}
/*main css(aside)*/
.main {
  display: flex;
}
.red {
  color: var(--red--color);
}
.orange {
  color: var(--orange--color);
}
.yellow {
  color: var(--yellow--color);
}
.green {
  color: var(--green--color);
}
.blue {
  color: var(--blue--color);
}
.purple {
  color: var(--purple--color);
}
.aside {
  padding-top: 30px;
  width: 12%;
}
.aside .sidetitle {
  font-size: 18px;
  height: 50px;
  line-height: 40px;
  background-color: var(--font--color);
  color: white;
  padding: 5px;
  border-radius: 32px;
  text-align: center;
}
.aside ul li:hover {
  background-color: var(--font--color);
  transition: 1s;
}
.aside ul li {
  height: 50px;
  border-radius: 32px;
}

/* main css(content)*/
.content {
  width: 90%;
}
.weather {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.current {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
#cIcon {
  flex-grow: 1;
}
#cIcon img {
  float: right;
  width: 150px;
}
.weatherInfo {
  flex-grow: 1;
  margin-left: 5%;
}
#cTime {
  font-size: var(--large);
  font-weight: bold;
}
.weatherInfoTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#cTemp {
  font-size: 250%;
}
.temperature {
  font-size: 16px;
  text-align: right;
}
.hourly {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-grow: 1;
}
.hourly div {
  flex-grow: 1;
  padding-left: 5%;
  text-align: center;
}
.recommend {
  padding-top: 50px;
}

.recommend .title {
  font-size: var(--large);
  padding-bottom: var(--padding);
}
.recommendImage {
  display: flex;
  justify-content: space-around;
}
.recommendImage a {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

/*footer*/
.footer {
  height: 15vh;
  border-top: 1px solid black;
  margin-top: calc(var(--padding) * 2);
}
.gitAddress {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.gitAddress .title {
  padding: 10px 0px;
  font-size: 28px;
  font-weight: 900;
}
.personalGitAddress {
  padding: 3px;
  font-size: 8px;
}
